@model Operations.FormModel
@using todolist.Models

<form method="POST">
  @if( Model.Operation.Id != 0 ){ <!-- Edit -->
    <input type="hidden" asp-for="Operation.Id" />
  }
  <div class="form-group">
    <label asp-for="Operation.Codename" class="control-label"></label>
    <input type="text" list="cars" asp-for="Operation.Codename" class="form-control" />
    <datalist id="cars">
      <option>Task Force Alpha</option>
      <option>Cipher Storm</option>
      <option>Intel Secure Protocol</option>
      <option>Blackout Phase</option>
      <option>Omega Cipher</option>
      <option>Shadowstrike</option>
      <option>Nova Lockdown</option>
      <option>Hyperion Mandate</option>
      <option>Secret Squad</option>
      <option>Midnight Vortex</option>
      <option>Stormbreaker</option>
      <option>Deep Horizon Recon</option>
    </datalist>
  </div>
  
  <div class="form-group">
    <label asp-for="Operation.Status" class="control-label"></label>
    <select asp-for="Operation.Status" class="form-control">
      @foreach( var status in Enum.GetNames( typeof( OperationStatus ))){
          <option value="@status"> @status </option>
      }
    </select>
  </div>
  
  <div class="form-group form-submit">
    <button type="submit" class="btn btn-primary" >
      @Model.SubmitValue
    </button>
  </div>
  
</form>
