@page
@model Operations.CreateModel
@{
    ViewData[ "Title" ] = "Create Operation";
}
<h1 class="display-4"> Create Operation </h1>
@await Html.PartialAsync( "_Form", new Operations.FormModel 
{ 
    Operation = Model.Operation, 
    SubmitValue = "Create" 
});

