@page "{id:int}"
@model Operations.DetailsModel
@{
    ViewData["Title"] = "Operation Details";
}

<div class="fs-3"> 
    <p> 
        <span class="fw-bold">
            Codename( 
        </span> 
        @Model.Operation.Codename 
        <span class="fw-bold"> ) </span>
    </p>
    <p> 
        <span class="fw-bold"> 
            Status( 
        </span> 
        @Model.Operation.Status 
        <span class="fw-bold"> ) </span>
    </p>
</div>
<a asp-page="/Operations/Edit" asp-route-id="@Model.Operation.Id"> Edit </a>
