@page "{id:int}"
@model Operations.EditModel
@{
    ViewData["Title"] = "Edit Operation";
}
<div class="form-con">
  
  <div class="form-header">Edit Operation</div>
  
  <div class="form-body">
     @await Html.PartialAsync( "_Form", new Operations.FormModel 
     { 
         Operation = Model.Operation, 
         SubmitValue = "Edit" 
     })
  </div>

  <div class="form-footer">
    <a class="btn btn-dark" 
       asp-page="/Operations/Details"
       asp-route-id="@Model.Operation.Id"> 
      Back to Operation
    </a>
  </div>

</div>
