@page "{id:int}"
@model Operations.EditModel
@{
    ViewData[ "Title" ] = "Edit Operation";
}

<h1 class="display-4"> Edit Operation </h1>
@await Html.PartialAsync( "_Form", new Operations.FormModel 
{ 
    Operation = Model.Operation, 
    SubmitValue = "Edit" 
});

<a class="btn btn-dark mt-4" 
   asp-page="/Operations/Details"
   asp-route-id="@Model.Operation.Id"> 
   Back to Operation
</a>
