@page
@model Operations.IndexModel
@{
    ViewData["Title"] = "O p e r a t i o n s";
}
<div class="list-con">
    <div class="list-title">@ViewData["Title"]</div>
    <div class="list">
        @foreach( var opperation in Model.Operations ){
            <div class="list-item">
                <a asp-page="/Operations/Details"
                   asp-route-id="@opperation.Id">
                   <i class="bi bi-caret-right-fill"></i>
                   @opperation.Codename</a>
                <p>@opperation.Status</p>    
            </div>
        }
    </div>
    <div class="list-footer">
        <a class="btn btn-primary"
           style="margin-right: 0.7rem;"  
           asp-page="/Operations/Create"> New Operation </a>
        <a class="btn btn-dark"
           asp-page="/Index"> Back </a>
    </div>
</div>
