@page "{missionId:int}"
@model todolist.Pages.Assignments.CreateModel
@{
    ViewData["Title"] = "Create Assignment";
}
<div class="form-con">
   <div class="form-header">Create Assignment</div>
   <div class="form-body">
      @await Html.PartialAsync("_Form", new Assignments.FormModel
      {
          Assignment = Model.Assignment,
          SubmitValue = "Create"
      })
   </div>
   <div class="form-footer">
      <a class="btn btn-dark" 
         asp-page="/Missions/Details"
         asp-route-id="@Model.Assignment.MissionId"> 
            Back to Mission
      </a>
   </div>
</div>
