@page "{missionId:int}"
@model todolist.Pages.Assignments.CreateModel
@{
    ViewData["Title"] = "Create Assignment";
}
<p class="display-4"> Create Assignment </p>

@await Html.PartialAsync("_Form", new Assignments.FormModel
{
    Assignment = Model.Assignment,
    SubmitValue = "Create"
});

<a class="btn btn-dark mt-4" 
   asp-page="/Missions/Details"
   asp-route-id="@Model.Assignment.MissionId"> 
   Back to Mission
</a>
