@page "{id:int}"
@model Assignments.DeleteModel
@{
    ViewData["Title"] = "Delete Assignment";
}
<!--------------------------------------------------------------
################################################################
################################################################
################################################################
###########[ Delete Assignment Confirmation          ]##########
###########[ Are you sure?            (Cross) (Nope) ]##########
################################################################
################################################################
################################################################
################################################################
--------------------------------------------------------------->
<div class="card delete">
    <div class="card-header">
        <h1 class="display-5"> Delete Assignment </h1>
    </div> 
    <div class="card-body d-flex justify-content-between">
        <span class="mt-1">Are you sure?</span>
        <div class="d-flex"> 
            <form method="POST">
                <button type="submit" class="btn btn-danger"> 
                    Cross 
                </button>
            </form>
            <a class="btn btn-primary ms-2" 
               asp-page="/Assignments/Details" 
               asp-route-id="@Model.Assignment.Id"> 
                Nope
            </a>
        </div>
    </div>
</div>
<!--------------------------------------------------------------
--------------------------------------------------------------->
