@page "{id:int}"
@model todolist.Pages.Assignments.EditModel
@{
    ViewData["Title"] = "Edit Assignment";
}
<div class="form-con">
   <div class="form-header">Edit Assignment</div>
   <div class="form-body">
      @await Html.PartialAsync("_Form", new Assignments.FormModel
      {
          Assignment = Model.Assignment,
          SubmitValue = "Save"
      })
   </div>
   <div class="form-footer">
      <a class="btn btn-dark" 
         asp-page="/Assignments/Details"
         asp-route-id="@Model.Assignment.Id"> 
        Back to Assignment
      </a>
   </div>
</div>
