@page
@model Assignments.IndexModel
@{
    ViewData["Title"] = "A s s i g n m e n t s";
}
<div class="list-con">
    <div class="list-title">@ViewData["Title"]</div>
    <div class="list">
        @foreach( var assignment in Model.Assignments ){
            <div class="list-item">
                <a asp-page="/Assignments/Details"
                   asp-route-id="@assignment.Id">
                   <i class="bi bi-caret-right-fill"></i>
                   @assignment.Objectives
                </a>
                <p>@assignment.Status</p>    
            </div>
        }
    </div>
    <div class="list-footer">
        <a class="btn btn-dark"
           asp-page="/Index"> Back </a>
    </div>
</div>
