@page "{operationId:int}"
@model CreateModel
@{
    ViewData["Title"] = "Create Misssion";
}
<p class="display-4"> Create Mission </p>

@await Html.PartialAsync( "_Form", new FormModel
{
    Mission = Model.Mission,
    SubmitValue = "Create"
});

<a class="btn btn-dark mt-4" 
   asp-page="/Operations/Details"
   asp-route-id="@Model.Mission.OperationId"> 
   Back to Operation
</a>
