@page "{operationId:int}"
@model CreateModel
@{
    ViewData["Title"] = "Create Misssion";
}

<div class="form-con">
  
  <div class="form-header">Create Mission</div>

  <div class="form-body">
     @await Html.PartialAsync( "_Form", new Missions.FormModel
     {
         Mission = Model.Mission,
         SubmitValue = "Create"
     });
  </div>

  <div class="form-footer">
    <a class="btn btn-dark" 
       asp-page="/Operations/Details"
       asp-route-id="@Model.Mission.OperationId"> 
      Back to Operation
    </a>
  </div>
  
</div>


