@page "{id:int}"
@model todolist.Pages.Missions.EditModel
@{
    ViewData["Title"] = "Edit Mission";
}
<p class="display-4"> Edit Mission </p>

@await Html.PartialAsync( "_Form", new Missions.FormModel
{
    Mission = Model.Mission,
    SubmitValue = "Edit"
});

<a class="btn btn-primary mt-4" 
   asp-page="/Missions/Details" 
   asp-route-id="@Model.Mission.Id"> 
   Back to Mission 
</a>
