@page "{id:int}"
@model todolist.Pages.Missions.EditModel
@{
    ViewData["Title"] = "Edit Mission";
}
<div class="form-con">
  
  <div class="form-header">Edit Mission</div>

  <div class="form-body">
     @await Html.PartialAsync( "_Form", new Missions.FormModel
     {
         Mission = Model.Mission,
         SubmitValue = "Edit"
     });
  </div>

  <div class="form-footer">
    <a class="btn btn-dark" 
       asp-page="/Missions/Details" 
       asp-route-id="@Model.Mission.Id"> 
      Back to Mission 
    </a>
  </div>
  
</div>
