/* ##########################################################
   ##########################################################
   ##########################################################
   ########################################################## */
:root {
    --key-value-margin: calc(( 100% - 500px ) / 2 );
}
.details,
.delete {
    background: var( --details-bgr );
    color: var( --details-fgr );
    width: 100%;
    font-family: monospace;
}
.card-footer {
    padding-left: 0;
}
.details li {
    color: var( --details-li-fgr );
    background: var( --details-li-bgr );
    border: 1px solid var( --details-li-border );
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.key {
    font-weight: 700;
    margin-left: var( --key-value-margin );
}
.value {
    font-style: italic;
    margin-right: var( --key-value-margin );
}
.value a {
    color: var( --value-a );
}
.value a:hover {
    color: var( --value-a-hover );
}
.delete .card-header {
    border-bottom: 1px solid var( --delete-border );
}
.assignments-list {
    font-size: 0.8rem;
}
.assignments-list a {
    color: var( --assignment-list );
}
.assignments-list a:hover {
    color: var( --assignment-list-hover );
}
/* ##########################################################
   ##########################################################
   ##########################################################
   ########################################################## */
@media( max-width: 576px ){
    .details,
    .delete {
        width: 100%;
    }
    .key {
        margin-left: 0;
    }
    .value {
        margin-right: 0;
    }
    .card-footer {
        margin-left: 1rem;
    }
}
/* ##########################################################
   ##########################################################
   ##########################################################
   ########################################################## */
