/* ##########################################################
   ##########################################################
   ########################################################## */
.form-con {
    background: var( --form-con-bgr );
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 576px;
    padding: 1.2rem;
    border-radius: 1rem;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-header {
    background: var( --form-header-bgr );
    color:  var( --form-header-fgr );
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-body {
    background: none;
}
.form-body label {
    font-size: 1rem;
    color: var( --form-body-fgr );
    background: none;
    padding: 0.2rem;
}
.form-body select, .form-body input {
    color: var( --form-body-fgr );
    background: var( --form-body-bgr );
}
.form-control {
    border: 2px solid var( --form-control );
}
.form-control:focus {
    background: var( --form-control-focus );
}
.form-submit {
    padding: 1rem 0 1rem 0;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-footer {
    background: none;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-body .btn-primary {
    background: hsl(10,40%,20%);
    border: 1px solid hsl(10,40%,20%);
}
.form-body .btn-primary:hover {
    background: hsl(15,45%,8%);
    border: 1px solid hsl(15,45%,8%);
    color: hsl(10,50%,40%);
}
.form-footer .btn-dark {
    background: hsl(15,45%,8%);
    color: hsl(20,50%,35%);
    border: 1px solid hsl(15,45%,8%);
}
.form-footer .btn-dark:hover {
    background: hsl(10,50%,15%);
    color: hsl(210,50%,45%);
    border: 1px solid hsl(10,40%,20%);
}
@media( max-width: 576px ){
    .form-con {
        width: 100%;
        min-width: 100%;
    }
}
/* ##########################################################
   ##########################################################
   ########################################################## */
