/* ##########################################################
   ##########################################################
   ########################################################## */
.form-con {
    background: hsl(20,15%,58%);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.2rem;
    border-radius: 1rem;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-header {
    background: hsl(250,30%,10%);
    color: hsl(30,100%,60%);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-body {
    background: none;
}
.form-body label {
    font-size: 1rem;
    color: hsl(0,50%,25%);
    background: none;
    padding: 0.2rem;
}
.form-body select, .form-body input {
    color: hsl(0,50%,25%);
    background: hsl(0,25%,50%);
}
.form-control {
    border: 2px solid hsl(0,20%,40%);
}
.form-control:focus {
    background: hsl(0,12%,75%);
}
.form-submit {
    padding: 1rem 0 1rem 0;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
.form-footer {
    background: none;
}
/* ##########################################################
   ##########################################################
   ########################################################## */
@media screen and ( max-width: 992px ){
    .form-con {
        width: 100%;
    }
}
/* ##########################################################
   ##########################################################
   ########################################################## */
