:root {
    /* 100% = 2x + 500px */
    --list-margin: calc(( 100% - 500px ) / 2 );
}
.list-con {
    background: var( --list-bgr-b );
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: serif;
    font-size: 1.1rem;
}
.list-title {
    font-family: 'Rubik Mono One';
    font-size: 1.12rem;
    color: var( --list-fgr-a );
}
.list-title,
.list-footer {
    background: var( --list-bgr-a );
    text-align: center;
    padding: 1rem;
}
.list-footer {
    text-align: end;
}
.list-footer a {
    margin-right: var( --list-margin );
}
.list {
    display: flex;
    flex-direction: column;
}
.list > .list-item:first-child {
    border-top:none;
}
.list-item {
    border-top: 1px solid var( --list-bgr-a );
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.list-item a {
    margin-left: var( --list-margin );
    color: var( --list-fgr-b );
}
.list-item p {
    color: var( --list-fgr-c );
    margin-right: var( --list-margin );
}
.list-footer .btn-primary:active {
    background: hsl(229,60%,30%);
    border: 1px solid hsl(205,50%,50%);
    color: hsl( 5, 10%, 58% );
}

@media( max-width: 576px ){
    .list-con {
        font-size: 0.9rem;
    }
    .list-item p {
        margin-right: 0;
    }
    .list-item a {
        margin-left: 0;
    }
    .list-footer a {
        margin-right: 0;
    }
}
