@import "colors.css";
@import "form.css";
@import "details.css";
@import "index.css";
@import "dom.css";
@import "bootstrap.css";
@import "about.css";

/* ##########################################################
   #########[ Google Fonts ]#################################
   ########################################################## */
@font-face {
  font-display: swap; 
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/fonts/acme-v25-latin-regular.woff2')
       format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/fonts/alex-brush-v22-latin-regular.woff2')
       format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../lib/fonts/alumni-sans-v18-latin-500.woff2')
       format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Alumni Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../lib/fonts/alumni-sans-v18-latin-500italic.woff2')
       format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/fonts/alumni-sans-v18-latin-regular.woff2')
       format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Alumni Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../lib/fonts/alumni-sans-v18-latin-italic.woff2')
       format('woff2'); 
}
/* ##########################################################
   #####[ mbody ]############################################
   ########################################################## */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ##########################################################
   #####[ main ]#############################################
   ########################################################## */
main {
    flex-grow: 1;
    background: var( --main-bgr );
    display: grid;
}
.render-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ##########################################################
   #####[ footer ]###########################################
   ########################################################## */
footer  {
    border-top: 1rem solid var( --footer-border );
}
/* ##########################################################
   ##########################################################
   ########################################################## */
