@page
@model AboutModel
@{
    ViewData[ "Title" ] = "About Page";
}

<div>
    <p class="display-2"> Your Next Mission Starts Here </p>
    <p> The Command Center isn’t just a tool; it’s your trusted 
        partner in ensuring that no objective is left unfinished. 
        With timely updates, secure data management, and a structured 
        mission flow, your success is our priority. </p>
</div>