@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
}
<div class="about">
  <h1 class="display-5"> Your Next Mission Starts Here </h1>
  <p> The Command Center isn’t just a <strong>tool</strong>; it’s
    your trusted partner in ensuring that no objective is left
    <strong>unfinished</strong>. With timely updates, secure data
    management, and a structured mission flow, your
    <strong>success</strong> is our priority.
  </p>
</div>
