@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="velcome d-flex flex-column">
  <h1>W e l l c o m e</h1>
  <p>Good @Model.TimeOfDay Agent 0012. The command center is secure.
    Your encrypted channel is now active</p>
  <ul>
    <li>
      <a class="btn btn-dark me-2"
         href="/Operations/Index" role="button"> 
        <i class="bi bi-cloud-haze2"></i> 
      </a>
      <span class="briefing">Mission Briefing: </span><span>Awaiting your next move</span>
    </li>
    <li> 
      <a class="btn btn-dark me-2"
         href="/Missions/Index" role="button"> 
        <i class="bi bi-clock"></i> 
      </a>
      <span class="briefing">Current Operation Window: </span><span>Ongoing</span>
    </li>
    <li> 
      <a class="btn btn-dark me-2"
         href="/Assignments/Index" role="button"> 
        <i class="bi bi-columns-gap"></i> 
      </a>
      <span class="briefing">Security Status: </span><span>All systems operational</span>
    </li>
  </ul>
  <p class="pt-2">Stand by for further instructions. The agency
    is counting on you</p>
</div>
