@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex flex-column">
    <h1 class="display-4 text-light"> velcom </h1>
    <p> Good @Model.TimeOfDay Agent 0012. The command center is secure </p>
    <p> Your encrypted channel is now active </p>

    <p> 📡 Mission Briefing: Awaiting your next move </p>
    <p> 🕰️ Current Operation Window: Ongoing </p>
    <p> 🔐 Security Status: All systems operational </p>

    <p> Stand by for further instructions. The agency is counting on you </p>
    <div>
        <a class="btn btn-primary" href="/Operations/Create"> New Operation </a>   
    </div>
</div>
