@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="velcome d-flex flex-column">
  <h1>V e l c o m e</h1>
  <p>Good @Model.TimeOfDay Agent 0012. The command center is secure.
    Your encrypted channel is now active</p>
  <ul>
    <li>
      <a class="btn btn-dark me-2"
         href="/Operations/Index" role="button"> 
        <i class="bi bi-cloud-haze2"></i> 
      </a>
      <span>Mission Briefing: Awaiting your next move<span>
    </li>
    <li> 
      <a class="btn btn-dark me-2"
         href="/Operations/Index" role="button"> 
        <i class="bi bi-clock"></i> 
      </a>
      <span>Current Operation Window: Ongoing</span>
    </li>
    <li> 
      <a class="btn btn-dark me-2"
         href="/Operations/Index" role="button"> 
        <i class="bi bi-columns-gap"></i> 
      </a>
      <span>Security Status: All systems operational</span>
    </li>
  </ul>
  <p class="pt-2">Stand by for further instructions. The agency
    is counting on you</p>
</div>
