@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privacy">
    <h1 class="display-5"> @ViewData["Title"] </h1>
    <p> You have <strong> complete </strong> control over the information you provide to us. 
        If you choose to withdraw your data or stop using our services, 
        you can do so at <strong> any </strong> time. Simply <a href="#"> contact </a> us, and we will promptly
        erase all <strong> personal </strong>    data from our systems. </p>
</div>>
