@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> You have complete control over the information you provide to us. 
    If you choose to withdraw your data or stop using our services, 
    you can do so at any time. Simply contact us, and we will promptly
    erase all personal data from our systems </p>
